<div class="reply-form">
  <% if @subscriber %>
    <%= form_tag reply_messages_path, method: :post, remote: true  do  %>
      <%= hidden_field_tag :id, @subscriber.id %>
      <%= label_tag "Reply" %>
      <br>
      <%= text_field_tag :reply_body, nil, id: "reply-text-area" %>
      <br>
      <%= submit_tag "Submit", class: "btn"%>
    <% end %>
  <% end %>
</div>
