<h1>Text Message Order Thread</h1>

<%= render 'messages' %>

<%= form_tag action: "reply", controller: "messages"  do  %>
  <%= hidden_field_tag :id, Message.last.id %>
  <%= label_tag "Message Body" %>
  <%= text_area_tag :message_to_send, nil, :rows => 6, :cols => 30  %>
  <br>
  <%= submit_tag "Submit" %>
<% end %>
