  <p class="left-nav-item"> <%= link_to "FoodCart Sign Out", destroy_food_cart_session_path(current_food_cart), method: :delete  if current_food_cart %> </p>

<h1>Text Message Order Thread</h1>

<div class="row">
  <div class="col-sm-8 message-block">
    <% if @all_messages.any? %>
    <%= render 'messages' %>
      <% else %>
        <p>No New Messages</p>
    <% end %>
    <% if @all_replies.any? %>
      <%= render 'replies' %>
    <% end %>
  </div>
  <div class="col-sm-4 reply-block">
    <%= render 'reply' %>
    <%= link_to "Confirm Order", new_order_item_path %>
  </div>
</div>
