<!DOCTYPE html>
<html>
  <head>
    <title>FeedMePdx</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=BioRhyme|Eczar|Rubik|Slabo+27px" rel="stylesheet">
  </head>
  <div class="custom-nav">
    <p class="left-nav-item"> <%= link_to "Home", root_path %> </p>
    <p class="left-nav-item"> <%= link_to "Text Ordering", text_interface_messages_path%> </p>
    <p class="left-nav-item"> <%= link_to "FoodCart Sign Out", destroy_food_cart_session_path(current_food_cart), method: :delete  if current_food_cart %> </p>
    <p class="right-nav-item"><%= link_to "Admins", rails_admin_path %></p>
    <p class="right-nav-item"> <%= link_to "Food Carts", food_carts_path %></p>
  </div>
  <div class="container">
    <body>
      
      <%= notice %>
      <%= alert %>
      <%= yield %>
    </body>
  </div>
</html>
